---
const { impact } = Astro.props
---

<section class='impact'>
	<div class='container'>
		<h2 class='heading'>Our Impact</h2>
	</div>
	<svg
		class='divider'
		preserveAspectRatio='none'
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 0 1282 44.92'>
		<path
			class='cls-1'
			d='M1282,2.84c-222.37,21.05-422.67,55.63-959.16,4.55C172.76-6.9,66.72,1.97,0,13.54v31.38h1282V2.84Z'>
		</path>
	</svg>
	<div class='statistics'>
		<div class='container'>
			{
				impact.map((stat) => (
					<div class='stat'>
						<h3>{stat.number.toLocaleString()}</h3>
						<p>{stat.description}</p>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang='less'>
	@import '../styles/variables.less';

	.impact {
		margin-bottom: 75px;
		overflow: hidden;

		.divider {
			@media @s-d {
				width: 100%;
			}
			@media @s-t {
				width: 150%;
			}
			@media @s-m {
				width: 250%;
			}
			height: 50px;
			display: flex;
			transform: translateY(2px);

			path {
				fill: var(--gold);
			}
		}

		.statistics {
			background-color: var(--gold);
			padding-top: 30px;
			padding-bottom: 50px;
			color: var(--textC2);
			border-bottom: 16px solid var(--bdC2);

			.container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 30px;
				align-items: flex-start;
				justify-content: center;

				.stat {
					min-width: 210px;
					width: 210px;
					max-width: 210px;
					text-align: center;

					h3 {
						font-size: 3em;
						margin-bottom: 0;
					}

					p {
						font-size: 1.2em;
						margin-bottom: 0;
					}
				}
			}
		}
	}
</style>
