---
const { link, text } = Astro.props.node || Astro.props
---

<a href={link} class='button'>
	{text}
	<svg
		class='arrow'
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 0 139.55 119.63'
		height='15px'>
		<path
			d='m69.85,39.93c0-9.73-.01-19.09,0-28.46,0-3.05.58-5.91,2.79-8.25,3.31-3.49,8.13-4.25,12.23-1.73,1.19.73,2.26,1.69,3.25,2.68,15.76,15.71,31.51,31.44,47.25,47.18,5.56,5.55,5.55,11.36,0,16.91-15.92,15.91-31.83,31.82-47.77,47.71-5.01,4.99-11.75,4.95-15.52-.41-1.37-1.95-2.07-4.75-2.15-7.18-.25-8.54-.1-17.09-.1-25.64,0-.9,0-1.8,0-3.06-1.12,0-2.08,0-3.05,0-17.53,0-35.06,0-52.6,0-9.21,0-14.18-4.96-14.19-14.14,0-4.15-.04-8.3,0-12.45.08-7.88,5.29-13.1,13.19-13.12,17.78-.04,35.56-.01,53.34-.01.98,0,1.97,0,3.29,0Z'>
		</path>
	</svg>
</a>

<style lang='less'>
	.button {
		margin-top: 15px;
		margin-right: 15px;

		display: inline-flex;
		align-items: center;
		gap: 10px;

		&:hover,
		&:focus-visible {
			gap: 15px;
		}

		svg {
			margin-bottom: 2px;
		}
	}
</style>
